### Train Test and Split

In [9]:
# importing the required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [17]:
df = pd.read_excel(r"C:\Users\HP\Downloads\practice_data.xlsx")
df.head()

,EmployeeID,gender,department,Days Present,Accuracy of Work,Meeting Project Deadlines,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated,churned
0,1,Male,Sales,20,High,Yes,85,8,7,51638,No
1,2,Female,Marketing,22,Medium,Yes,90,7,6,97797,Yes
2,3,Male,Human Resources,25,High,No,80,9,8,95341,No
3,4,Male,Engineering,19,Low,Yes,75,6,5,91806,No
4,5,Female,Finance,23,Medium,Yes,85,7,7,64247,Yes

In [18]:
df.columns

Index(['EmployeeID', 'gender', 'department', 'Days Present',
       'Accuracy of Work', 'Meeting Project Deadlines',
       'Task Completion Rates', 'Interpersonal Skills Rating',
       'Decision-Making Skills Rating', 'Sales Revenue Generated', 'churned'],
      dtype='object')

In [ ]:
# splitting the data into train and test
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder


le = LabelEncoder()
y = le.fit_transform(df['churned'])  

x = df.drop(['gender', 'department', 'churned', 'Accuracy of Work', 'Meeting Project Deadlines'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

X_train_scaled = pd.DataFrame(X_train_scaled, columns=x.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=x.columns)

X_train_scaled.head()

,EmployeeID,Days Present,Task Completion Rates,Interpersonal Skills Rating,Decision-Making Skills Rating,Sales Revenue Generated
0,1.100565,-0.794293,0.353553,0.774597,0.464991,-0.110030
1,-0.225639,0.567352,0.353553,0.000000,0.464991,-0.696674
2,-1.551842,-0.794293,0.883883,0.774597,0.464991,-1.867196
3,-1.109775,0.567352,0.883883,0.000000,0.464991,-0.950025
4,0.216429,-0.794293,0.883883,0.774597,0.464991,-0.177242

In [22]:
# test and train
print(X_train_scaled.shape)
print(X_test_scaled.shape)
print(y_train.shape)
print(y_test.shape)

(24, 6)
(7, 6)
(24,)
(7,)