In [2]:
# creating a tuple
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [3]:
# tuple concatenation
fruits1 = ("apple", "banana", "cherry")
fruits2 = ("orange", "kiwi", "melon")
fruits3 = fruits1 + fruits2
print(fruits3)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')

In [5]:
# tuple slicing
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon")
print(fruits[0:3])

('apple', 'banana', 'cherry')

In [6]:
# nested slicing tuple
tuple1 = ((1,2,3),("apple", "banana", "cherry"),("X","Y","Z"))
print(tuple1[0][1])
print(tuple1[1][1])
print(tuple1[2][1])

2
banana
Y

In [7]:
# creating a list
list1 = ["apple", "banana", "cherry"]
print(list1)

['apple', 'banana', 'cherry']

In [9]:
# list forward slicing
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon"]
print(list1[0:4])

['apple', 'banana', 'cherry', 'orange']

In [10]:
# backward slicing
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon"]
print(list1[-4:-1])

['cherry', 'orange', 'kiwi']

In [16]:
# list strading
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon"]
print(list1[0:5:2])

['apple', 'cherry', 'kiwi']

In [18]:
# nested list slicing
list1 = [[1,2,3],["apple", "banana", "cherry"],["X","Y","Z"]]
print(list1[0][2])
print(list1[1][0])
print(list1[2][1])

3
apple
Y

In [19]:
# add and remove 
list1 = ["apple", "banana", "cherry"]
list1.append("orange")
print(list1)
list1.remove("apple")
print(list1)

['apple', 'banana', 'cherry', 'orange']
['banana', 'cherry', 'orange']

In [20]:
# creating a dictionary
school = {
    "name": "ABC",
    "class": "10",
    "roll_no": 12
}
print(school)

{'name': 'ABC', 'class': '10', 'roll_no': 12}

In [21]:
# slicing a dictionary
school = {
    "name": "ABC",
    "class": "10",
    "roll_no": 12
}
print(school["name"])
print(school["class"])
print(school["roll_no"])

ABC
10
12

In [24]:
# add and remove
school = {
    "name": "ABC",
    "class": "10",
    "roll_no": 12
}
school["name"] = "XYZ"
print(school)

{'name': 'XYZ', 'class': '10', 'roll_no': 12}

In [25]:
del school["roll_no"]
print(school)

{'name': 'XYZ', 'class': '10'}

In [27]:
# dictionary extracttion
profile = {
    "name": "abc",
    "company": "xyz",
    "id no": 123,
    "age": 25
}
print(profile.keys())
print(profile.values())
print(profile.items())

dict_keys(['name', 'company', 'id no', 'age'])
dict_values(['abc', 'xyz', 123, 25])
dict_items([('name', 'abc'), ('company', 'xyz'), ('id no', 123), ('age', 25)])